@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*, *:after, *:before {
	box-sizing: border-box;
}

html, body {

	font-family: 'Roboto', sans-serif;
}

.clear {
	clear: both;
}

#man-people-user, #lock-locker {
	fill: white;
}

.wrapper {
	width: 400px;
	margin: 0 auto;
}

form {
	position: relative;
}
form input[type="text"], form input[type="password"], form select, form textarea {
	width: 100%;
	padding: 4px;
	font-size: 1em;
}
form input[type="file"]{
	width: 91%;
	font-size: 1em;
}
form input[type="submit"]{
	color: #7f8084;
	border: 1px solid #22272d;
	padding: 7px 15px;
	border-radius: 3px;
	font-size: 1.2em;
	cursor: pointer;
	width: 100%;
}

.clear {
	clear: both;
}

div {
	margin: 20px;
}

p {
	margin: 5px;
}

.error {
	border: 1px solid #ce111a;
	color: #ce111a;
	padding: 7px 15px;
	border-radius: 2px;
	cursor: pointer;
	width: 100%;

}
.errorsms {
	border: 1px solid #ce111a;
	color: #ce111a;
	padding: 7px 15px;
	border-radius: 2px;
	font-size: 1.2em;
	cursor: pointer;
	width: 90%;
}
.success {
	border: 1px solid #7ace28;
	color: #7ace28;
	padding: 7px 15px;
	border-radius: 2px;
	font-size: 1.2em;
	cursor: pointer;
	width: 90%;
}